html {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url("/images/dragon_warrior.png");
  background-position: 50% 90%;
  background-attachment: fixed;
}

body {
  color: rgba(198, 198, 198, 0.6);
  max-width: 900px;
  margin: auto;
  padding: 2rem 3rem;
  font-family: "Linux Libertine", serif;
  font-size: 20px;
  line-height: 2rem;
}

main {
  margin: 3rem auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(198, 198, 198, 0.8);
}

.title {
  font-size: 1.7rem;
}

p {
  text-align: justify;
}

header,
footer {
  text-align: center;
}

header h1 {
  color: rgba(203, 204, 255, 0.7);
  font-family: "Italianno", cursive;
  font-size: 3.1rem;
  line-height: 3rem;
}

nav a {
  padding: 10px;
}

a {
  color: #a883ba;
  text-decoration: none;
  transition: 0.3s ease-in;
}

a:hover {
  font-style: italic;
}

a:focus {
  outline: none;
  font-style: italic;
}

hr {
  color: gray;
  margin-top: 1rem;
}

code {
  font-size: 12px;
}

pre {
  overflow: scroll;
}
