<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>Masculine Passion</title>
    {% endif %}
    <meta
      name="description"
      content="Conquer the world with unfettered passion and an unrelenting positive masculine mindset. Masculine Passion's official website."
    />
    <meta name="author" content="Mr. Philosopher" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
  </head>

  <body>
    <header>
      <h1>Masculine Passion</h1>
      <nav>
        <span>[<a href="/">Home</a>]</span>
        <span>[<a href="/about">About</a>]</span>
        <span>[<a href="/blog">Blog</a>]</span>
        <span>[<a href="/guides">Guides</a>]</span>
        <span
          >[<a href="https://github.com/7ze" target="_blank">Github</a>]</span
        >
        <span>[<a href="/contact">Contact</a>]</span>
      </nav>
    </header>

    <hr />
    <main>{% block content %} {% endblock %}</main>

    <hr />
    <footer>
      <nav>
        <a href="https://landchad.net">
          <img
            src="https://landchad.net/pix/landchad.gif"
            target="_blank"
            alt="landchad.net"
          />
        </a>
        <a href="https://www.freebsd.org">
          <img
            src="https://www.freebsd.org/gifs/power-button.gif"
            target="_blank"
            alt="freebsd.org"
          />
        </a>
        <a href="https://wiby.me">
          <img
            src="https://wiby.me/about/wiby.gif"
            target="_blank"
            alt="wiby.me"
          />
        </a>
        <a href="https://yesterweb.org/no-to-web3/">
          <img
            src="https://yesterweb.org/no-to-web3/img/roly-saynotoweb3.gif"
            target="_blank"
            alt="yesterweb.org"
          />
        </a>
      </nav>
      <br />
      <span>
        &copy Copyright 2022
        <a href="https://masculinepassion.com">Masculine Passion</a>. All rights
        reserved.
      </span>
    </footer>
  </body>
</html>
